body{
    background-color: #1A1A1A; 
}

 /*html{
   background-color: #DF6FB2;
}*/ 

/*Typography*/

h1, h2, h3, p, .anno{
    color: #cfcfcf;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 3.157rem;
    line-height: 110%;
    color: #E6E6E6;
}

h2{
    font-size: 1.777rem;
    line-height: 160%;
    color: #E6E6E6;
}

h3, a{
    font-size: 1.333rem;
    line-height: 160%;
    padding-bottom: .25rem;
}

p{
    font-size: 1rem;
    line-height: 160%;
}

.anno{
    font-size: .75rem;
    line-height: 110%;
}


/*Layout*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper{
    padding-top: 4rem;
    padding-bottom: 8rem;
    min-height: 100vh;
}

.sub{
    display: grid;
    gap: .25rem;  
}


img{
    float: left;
    height: 1.5rem;
}

div{
    padding-bottom: 2rem;
}
