body{
    background-color: #1A1A1A; 
}

/*html{
    background-color: #DF6FB2; 
}*/

/*Typography*/

h1, h2, h3, p, .anno{
    color: #E6E6E6;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 3.157rem;
    line-height: 110%;
}

h2{
    font-size: 1.777rem;
    line-height: 160%;
}

h3, a{
    font-size: 1.333rem;
    line-height: 160%;
}

p{
    font-size: 1rem;
    line-height: 160%;
}

.anno{
    font-size: .75rem;
    line-height: 110%;
    color: #9999;
}

/*Layout*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper{
    display: grid;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
    min-height: 100vh;
}

.sub{
    display: grid;
    gap: .5rem;  

}


img{
    float: left;
    height: 1.5rem;
}
